<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>로그인화면</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	<script src="js/login.js"></script>
 	
 	</head>
<body>
	<div class="container">
		<h2>장소검색 서비스 로그인 화면</h2>
		
		<form id="form1" method="post">
		  	<div class="form-group">
		    		<input type="text" class="form-control" id="userId" name="userId" placeholder="사용자 아이디 입력" value="">
		  	</div>
		  
		 	 <div class="form-group">
		    		<input type="password" class="form-control" id="userPwd" name="userPwd" placeholder="사용자 비밀번호 입력" value="">
		  	</div>
		  
			<button id="loginSubmit" type="submit" class="btn btn-default">로그인</button>
		</form>
	</div>
</body>
</html>